designs/pages/gender.json
[
    {
        "id": "sd_MQ6iqse4WKVGyIXu",
        "type": "tab",
        "createdDate": "2022-06-22T11:55:22.047Z",
        "label": "gender",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "genderComponent"
    },
    {
        "id": "sd_57WPRRadGHd1Xe20",
        "type": "OnInit",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_57WPRRadGHd1Xe20",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_V8Cdw7sudscPXniK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "genderComponent"
    },
    {
        "id": "sd_V8Cdw7sudscPXniK",
        "type": "PageVariables",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changeGender",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "changeFemale",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "yes",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "no",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_V8Cdw7sudscPXniK",
        "category": "Function",
        "x": 185,
        "y": 40,
        "wires": [
            [
                "sd_Nu2vX9iamQ5aMqIq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "genderComponent"
    },
    {
        "id": "sd_qpVGRmIDxagQsswP",
        "type": "Script",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.changeGender = true;\npage.changeFemale =false;\n",
        "functionName": "sd_qpVGRmIDxagQsswP",
        "category": "Function",
        "x": 245,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "genderComponent"
    },
    {
        "id": "sd_1Pk4OWYw6ojyWf58",
        "type": "PageStart",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changeGenderfunc",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changeGenderfunc",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_qpVGRmIDxagQsswP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "genderComponent"
    },
    {
        "id": "sd_VUINEU02vuAn1UGw",
        "type": "Script",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.changeFemale = true;\npage.changeGender =false ;\n\n\n",
        "functionName": "sd_VUINEU02vuAn1UGw",
        "category": "Function",
        "x": 225,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fzVzir0zmavPBRUh",
        "type": "PageStart",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changeFemaleFunct",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changeFemaleFunct",
        "category": "General",
        "x": 65,
        "y": 240,
        "wires": [
            [
                "sd_VUINEU02vuAn1UGw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "genderComponent"
    },
    {
        "id": "sd_Nu2vX9iamQ5aMqIq",
        "type": "UseDependency",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_Nu2vX9iamQ5aMqIq",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_ttnCryCq7m4yMkgz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ttnCryCq7m4yMkgz",
        "type": "Script",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " page.genderForm= new FormGroup({\n    gender: new FormControl('',[Validators.required]),\n    maternity: new FormControl('n/a',[Validators.required]),\n  });\nconsole.log(\"form\",page.genderForm)",
        "functionName": "sd_ttnCryCq7m4yMkgz",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1Jh7cMZVHFwTSRLB",
        "type": "Script",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.yes = true;\npage.no =false;\n\n\n",
        "functionName": "sd_1Jh7cMZVHFwTSRLB",
        "category": "Function",
        "x": 265,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bDeXLiQXqUM4Afxx",
        "type": "PageStart",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "pages",
        "nodeType": "start",
        "name": "yesFun",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "yesFun",
        "category": "General",
        "x": 105,
        "y": 400,
        "wires": [
            [
                "sd_1Jh7cMZVHFwTSRLB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "genderComponent"
    },
    {
        "id": "sd_AuWvKwuXQ74Fy7qA",
        "type": "Script",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.no = true;\npage.yes =false;\n\n\n",
        "functionName": "sd_AuWvKwuXQ74Fy7qA",
        "category": "Function",
        "x": 285,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WioTzGIBWOfod9D0",
        "type": "PageStart",
        "z": "sd_MQ6iqse4WKVGyIXu",
        "viewType": "pages",
        "nodeType": "start",
        "name": "NoFunc",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "noFunc",
        "category": "General",
        "x": 125,
        "y": 520,
        "wires": [
            [
                "sd_AuWvKwuXQ74Fy7qA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "genderComponent"
    }
]
