designs/pages/needComp.json
[
    {
        "id": "sd_Y8tD969fju2JFvRU",
        "type": "tab",
        "createdDate": "2022-06-21T12:43:57.483Z",
        "label": "needComp",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "needCompComponent"
    },
    {
        "id": "sd_cA2NOpzG8y0IZ6ZO",
        "type": "OnInit",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "selection",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_cA2NOpzG8y0IZ6ZO",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_68VLm4zp4rvk7eDo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "needCompComponent"
    },
    {
        "id": "sd_68VLm4zp4rvk7eDo",
        "type": "PageVariables",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "icons",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "iconColor",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "checked",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "icon",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "checkedBox",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_68VLm4zp4rvk7eDo",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_9QIpXwUe9DvfBJBT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "needCompComponent"
    },
    {
        "id": "sd_9QIpXwUe9DvfBJBT",
        "type": "Script",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.icons=[\n// { \"icon\":\"Web/Images/family.png\",\"iconColor\":\"Web/Images/colorFamily.png\",\"paragraph\":\"I need protect my income  or family\"},\n{ \"icon\":\"Web/Images/health.png\",\"paragraph\":\"I need health insurance            \"},\n{ \"icon\":\"Web/Images/business.png\",\"paragraph\":\"I need to protect my business \"}\n  ]//my income or family",
        "functionName": "sd_9QIpXwUe9DvfBJBT",
        "category": "Function",
        "x": 305,
        "y": 60,
        "wires": [
            [
                "sd_qv9zZAMgFkgsDrx3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "needCompComponent"
    },
    {
        "id": "sd_jTXzo5rcSz9qP4ie",
        "type": "PageStart",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changeIcon",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changeIcon",
        "category": "General",
        "x": 60,
        "y": 220,
        "wires": [
            [
                "sd_9NFZdZ9WA9zpxEGl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "needCompComponent"
    },
    {
        "id": "sd_9NFZdZ9WA9zpxEGl",
        "type": "Script",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.checkedBox =!page.checkedBox",
        "functionName": "sd_9NFZdZ9WA9zpxEGl",
        "category": "Function",
        "x": 205,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qv9zZAMgFkgsDrx3",
        "type": "UseDependency",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_qv9zZAMgFkgsDrx3",
        "category": "Function",
        "x": 425,
        "y": 60,
        "wires": [
            [
                "sd_vD3hGXvlfChplmqA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vD3hGXvlfChplmqA",
        "type": "Script",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " page.needForm= new FormGroup({\n    need: new FormControl('',[Validators.required])\n  });\nconsole.log(\"form\",page.needForm)",
        "functionName": "sd_vD3hGXvlfChplmqA",
        "category": "Function",
        "x": 545,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KaopWNo7UMhyZhjk",
        "type": "UseDependency",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "shareformService",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "shareform"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "app/services/shareform/shareform.service",
        "serviceDesignerType": "pages",
        "functionName": "sd_KaopWNo7UMhyZhjk",
        "category": "Function",
        "x": 245,
        "y": 360,
        "wires": [
            [
                "sd_YGhJ5vQEFpm3uexH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jP6L1DObxyFW5CPR",
        "type": "AfterContentChecked",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "common",
        "nodeType": "start",
        "name": "After Content Checked",
        "functionName": "ngAfterContentChecked",
        "category": "Lifecycle Events",
        "x": 80,
        "y": 360,
        "wires": [
            [
                "sd_KaopWNo7UMhyZhjk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "needCompComponent"
    },
    {
        "id": "sd_YGhJ5vQEFpm3uexH",
        "type": "Script",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.shareform.myForm=page.needForm.status",
        "functionName": "sd_YGhJ5vQEFpm3uexH",
        "category": "Function",
        "x": 425,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_do0njk6nVTUIwNTL",
        "type": "PageStart",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "pages",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sd_do0njk6nVTUIwNTL",
        "category": "General",
        "x": 365,
        "y": 240,
        "wires": [
            [
                "sd_DNt7aC77xKdRn0qi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "needCompComponent"
    },
    {
        "id": "sd_DNt7aC77xKdRn0qi",
        "type": "OpenDialog",
        "z": "sd_Y8tD969fju2JFvRU",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_5KMiQBQ43gQfCnVG",
            "label": "dialogBox"
        },
        "relativePath": "./dialogBox",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page",
        "functionName": "sd_DNt7aC77xKdRn0qi",
        "category": "Dialog",
        "x": 570,
        "y": 240,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
