designs/pages/occupation.json
[
    {
        "id": "sd_M0ArE5zsCN3H9nkq",
        "type": "tab",
        "createdDate": "2022-06-22T20:28:51.334Z",
        "label": "occupation",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "occupationComponent"
    },
    {
        "id": "sd_G5CDUZ5rS5N1hsNJ",
        "type": "OnInit",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_G5CDUZ5rS5N1hsNJ",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_9cEvbhoYdmTB3EJl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "occupationComponent"
    },
    {
        "id": "sd_9cEvbhoYdmTB3EJl",
        "type": "PageVariables",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "mySelect",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_9cEvbhoYdmTB3EJl",
        "category": "Function",
        "x": 195,
        "y": 60,
        "wires": [
            [
                "sd_GRw2VbS9cDjvGcsQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "occupationComponent"
    },
    {
        "id": "sd_a7K76CDySppC55W8",
        "type": "UseDependency",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_a7K76CDySppC55W8",
        "category": "Function",
        "x": 405,
        "y": 60,
        "wires": [
            [
                "sd_Iw2J0gCjxNAHY25L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Iw2J0gCjxNAHY25L",
        "type": "Script",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " page.occupationForm= new FormGroup({\n    occupation: new FormControl('',[Validators.required]),\n  });\nconsole.log(\"form\",page.occupationForm)",
        "functionName": "sd_Iw2J0gCjxNAHY25L",
        "category": "Function",
        "x": 525,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_GRw2VbS9cDjvGcsQ",
        "type": "Script",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.mySelect =[{viewValue :\"Artist\"},{viewValue :\"Business analyst\"}\n,{viewValue :\"Designer\"},{viewValue :\"Entrepreneur\"},{viewValue :\"IT specialist\"},{viewValue :\"Freelancer\"},{viewValue :\"Social Worker\"}\n]",
        "functionName": "sd_GRw2VbS9cDjvGcsQ",
        "category": "Function",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "sd_a7K76CDySppC55W8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hFjItBTKUqp0g9SD",
        "type": "UseDependency",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "shareformService",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "shareform"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "app/services/shareform/shareform.service",
        "serviceDesignerType": "pages",
        "functionName": "sd_hFjItBTKUqp0g9SD",
        "category": "Function",
        "x": 265,
        "y": 180.8125,
        "wires": [
            [
                "sd_KSyZ7Pny284fddWn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ur9FZvLLn6VOoeU2",
        "type": "AfterContentChecked",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "common",
        "nodeType": "start",
        "name": "After Content Checked",
        "functionName": "ngAfterContentChecked",
        "category": "Lifecycle Events",
        "x": 100,
        "y": 180.8125,
        "wires": [
            [
                "sd_hFjItBTKUqp0g9SD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "occupationComponent"
    },
    {
        "id": "sd_KSyZ7Pny284fddWn",
        "type": "Script",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.shareform.myForm=page.occupationForm.status\npage.shareform.data.occupation=page.occupationForm.controls.occupation.value\nconsole.log(page.shareform.data.occupation)",
        "functionName": "sd_KSyZ7Pny284fddWn",
        "category": "Function",
        "x": 445,
        "y": 180.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4F5rc1FDrDBP6d4K",
        "type": "PageStart",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "show",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "show",
        "category": "General",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "sd_YoivaSpXCksL88o5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "occupationComponent"
    },
    {
        "id": "sd_YoivaSpXCksL88o5",
        "type": "Script",
        "z": "sd_M0ArE5zsCN3H9nkq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "",
        "functionName": "sd_YoivaSpXCksL88o5",
        "category": "Function",
        "x": 240,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
