designs/pages/state.json
[
    {
        "id": "sd_3aHneG68rV8R8zSK",
        "type": "tab",
        "createdDate": "2022-06-22T18:19:22.005Z",
        "label": "state",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "stateComponent"
    },
    {
        "id": "sd_ma5f0qm5awfQwTmK",
        "type": "OnInit",
        "z": "sd_3aHneG68rV8R8zSK",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ma5f0qm5awfQwTmK",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_qANZEqMvR4fFiaBx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "stateComponent"
    },
    {
        "id": "sd_qANZEqMvR4fFiaBx",
        "type": "PageVariables",
        "z": "sd_3aHneG68rV8R8zSK",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "provinces",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            }
        ],
        "functionName": "sd_qANZEqMvR4fFiaBx",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_4gsybZxSUMDbGPiP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4gsybZxSUMDbGPiP",
        "type": "Script",
        "z": "sd_3aHneG68rV8R8zSK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.mySelect=[\n    {viewValue:\"Mpumalanga\"},\n    {viewValue:\"Gauteng\"},\n    {viewValue:\"Limpopo\"},\n    {viewValue:\"Western Cape\"},\n    {viewValue:\"Eastern Cape\"},\n    {viewValue:\"Northern Cape\"},\n    {viewValue:\"North West\"},\n    {viewValue:\"Free State\"},\n    {viewValue:\"Kwa-Zulu Natal\"}\n\n]",
        "functionName": "sd_4gsybZxSUMDbGPiP",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_ovZ5am30utUPr3Wg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ovZ5am30utUPr3Wg",
        "type": "UseDependency",
        "z": "sd_3aHneG68rV8R8zSK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_ovZ5am30utUPr3Wg",
        "category": "Function",
        "x": 465,
        "y": 40,
        "wires": [
            [
                "sd_vJaQpznwwMLGuHcw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vJaQpznwwMLGuHcw",
        "type": "Script",
        "z": "sd_3aHneG68rV8R8zSK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " page.stateForm= new FormGroup({\n    state: new FormControl('',[Validators.required]),\n   \n  });\nconsole.log(\"form\",page.stateForm)",
        "functionName": "sd_vJaQpznwwMLGuHcw",
        "category": "Function",
        "x": 565,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_MBDcr98NXT9UdSLY",
        "type": "UseDependency",
        "z": "sd_3aHneG68rV8R8zSK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "shareformService",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "shareform"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "app/services/shareform/shareform.service",
        "serviceDesignerType": "pages",
        "functionName": "sd_MBDcr98NXT9UdSLY",
        "category": "Function",
        "x": 350,
        "y": 152.8125,
        "wires": [
            [
                "sd_xj135eBWL2U6887S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IGgIdjhsOgntwKAy",
        "type": "AfterContentChecked",
        "z": "sd_3aHneG68rV8R8zSK",
        "viewType": "common",
        "nodeType": "start",
        "name": "After Content Checked",
        "functionName": "ngAfterContentChecked",
        "category": "Lifecycle Events",
        "x": 185,
        "y": 152.8125,
        "wires": [
            [
                "sd_MBDcr98NXT9UdSLY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "stateComponent"
    },
    {
        "id": "sd_xj135eBWL2U6887S",
        "type": "Script",
        "z": "sd_3aHneG68rV8R8zSK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.shareform.myForm=page.stateForm.status\npage.shareform.data.state=page.stateForm.controls.state.value\nconsole.log(page.shareform.data.state)",
        "functionName": "sd_xj135eBWL2U6887S",
        "category": "Function",
        "x": 530,
        "y": 152.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
