designs/pages/summary.json
[
    {
        "id": "sd_lOipTkawQFpt8JAi",
        "type": "tab",
        "createdDate": "2022-07-07T11:38:05.627Z",
        "label": "summary",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "summaryComponent"
    },
    {
        "id": "sd_2TU3MMHAsZWcr17b",
        "type": "OnInit",
        "z": "sd_lOipTkawQFpt8JAi",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_2TU3MMHAsZWcr17b",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_5IJ7DiEuM1ybwDCH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "summaryComponent"
    },
    {
        "id": "sd_5IJ7DiEuM1ybwDCH",
        "type": "PageVariables",
        "z": "sd_lOipTkawQFpt8JAi",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "summary",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_5IJ7DiEuM1ybwDCH",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_f1NdOgy88VuN0XXG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_f1NdOgy88VuN0XXG",
        "type": "Script",
        "z": "sd_lOipTkawQFpt8JAi",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.summary=[{\n    title:\"Protection type\",\n    content:\"Protect income or family\"\n},\n{\n    title:\"Insurance type\",\n    content:\"Disability\"\n},\n{\n    title:\"Date of birth\",\n    content:\"01/01/1985\"\n},\n{\n    title:\"Gender at birth\",\n    content:\"Female\"\n},\n{\n    title:\"Maternity leave coverage?\",\n    content:\"No\"\n},\n{\n    title:\"State\",\n    content:\"Tennessee\"\n},\n{\n    title:\"Occupation category\",\n    content:\"Artist\"\n},\n{\n    title:\"Are you employed full-time and work at least 30 hours per week?\",\n    content:\"Yes\"\n},\n{\n    title:\"Monthly Gross Income\",\n    content:\"$1,200\"\n},\n{\n    title:\"Government employee\",\n    content:\"No\"\n},\n{\n    title:\"Do you use nicotine?\",\n    content:\"No\"\n}\n]",
        "functionName": "sd_f1NdOgy88VuN0XXG",
        "category": "Function",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "sd_4E7S5LJSKKYQKqcc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4E7S5LJSKKYQKqcc",
        "type": "UseDependency",
        "z": "sd_lOipTkawQFpt8JAi",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Router",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "router"
                },
                "injectable": true
            },
            {
                "textIp": "NavigationEnd",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "navigationEnd"
                },
                "injectable": false
            },
            {
                "textIp": "NavigationStart",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "navigationStart"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_4E7S5LJSKKYQKqcc",
        "category": "Function",
        "x": 445,
        "y": 40,
        "wires": [
            [
                "sd_TgNYaPHqpTqfBCcs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TgNYaPHqpTqfBCcs",
        "type": "Script",
        "z": "sd_lOipTkawQFpt8JAi",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log('page.router', page.router.url);\npage.routerVal = page.router.url;\npage.router.events.subscribe((event) => {\n    if (event instanceof page.navigationEnd) {\n        // Hide loading indicator\n        console.log(event)\n    }\n\n});\nconsole.log('page.router', page.routerVal);\n",
        "functionName": "sd_TgNYaPHqpTqfBCcs",
        "category": "Function",
        "x": 565,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
